/*body*/

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* all  */

/*phone*/
.container {
  max-width: 320px;

  padding: 0 16px;

  margin-left: auto;
  margin-right: auto;
}

/*tablet*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    padding: 0 16px;
  }
}
/*desktop*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;

    padding: 0 15px;
  }
}

/*Header*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-link {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 767.98px) {
  .header-link {
    display: none;
  }
}

.link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.active {
  color: #404bbf;
}

.link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  display: block;
}

.address-ul {
  display: flex;
}
@media screen and (min-width: 1156px) {
  .address-ul {
    gap: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .address-ul {
    display: none;
  }
}
.web-color {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .web-color {
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .web-color {
    margin-right: 70px;
  }
}

.studio-color {
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.header-address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  color: #434455;
}

.address:hover,
.address:focus {
  color: #404bbf;
}
.address:focus,
.address:active {
  color: #404bbf;
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .address-ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.address {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-btn {
  background-color: inherit;
  border: none;
}

.mobile-btn-icon {
  fill: #2f2f37;
}

@media screen and (min-width: 767.98px) {
  .mobile-btn {
    display: none;
  }
}

/*Hero section*/

.hero-section {
  max-width: 320px;
  margin: 0 auto;
  padding: 188px 0;
  flex-shrink: 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg-tabl.jpeg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg-tabl@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office@2x.jpeg);
  }
}

.hero-img {
  color: white;
  text-align: center;

  max-width: 288px;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .hero-img {
    font-size: 56px;
    line-height: 1.07em;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: 0 auto;
  }
}

.hero-btn {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  color: white;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 72px auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

.hero-btn {
  cursor: pointer;
}

/*BURGER MENU*/

.burger-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 72px 24px 40px 16px;
  background-color: #fff;
  max-width: 320px;
  height: 640px;

  position: fixed;
  top: 0;
  left: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
}

.burger-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.button-x-burger {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: transparent;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-x-burger {
  position: absolute;

  width: 8px;
  height: 8px;
  flex-shrink: 0;

  fill: rgba(46, 47, 66, 1);

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navigation {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  color: rgba(46, 47, 66, 1);

  gap: 40px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;

  text-transform: capitalize;

  margin-bottom: 168px;
}

.burger-nav-href {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-nav-href:hover,
.burger-nav-href:focus {
  color: #404bbf;
}

.burger-address-div {
  margin-bottom: 48px;
}

.burg-address-li {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;

  padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burg-address-li:hover,
.burg-address-li:focus {
  color: #404bbf;
}

.burger-link {
  display: flex;
  gap: 24px;

  color: rgba(244, 244, 253, 1);
}

.burger-icons-href {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  fill: currentColor;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-icons-href:hover,
.burger-icons-href:focus {
  background-color: #404bbf;
}

/*Accessibility sections*/

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .features-list {
    padding: 120px 0;
  }
}

.features-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

@media screen and (min-width: 768px;) {
  .features-ul {
  }
}

@media screen and (min-width: 1158px) {
  .features-ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: flex-start;
    margin-right: 0;
  }
}

.features-li {
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .features-li {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .features-li {
    width: calc((100% - 24px) / 4);
  }
}

.accessibility-logo {
  display: none;
}

@media screen and (min-width: 1158px) {
  .accessibility-logo {
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background-color: #f4f4fd;
    margin-bottom: 8px;
    padding: 24px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }
}

.studio-h {
  margin-bottom: 8px;

  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .studio-h {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .studio-h {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
  }
}

.studio-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  color: #434455;
}

@media screen and (min-width: 1158px) {
  .studio-p {
    font-weight: 400;
  }
}

/*Team section*/

.section-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .section-team {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
}

.our-team {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-icons /*ul*/ {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  color: rgba(244, 244, 253, 1);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .team-icons {
    gap: 24px;
  }
}

.team-member /*li*/ {
  background-color: white;

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .team-member {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-member {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.team-box {
  padding: 32px 0;
}

.image {
  padding-bottom: 32px;
}

.manager-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}
.position {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  text-align: center;
}

.team-icons-href {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-href:hover,
.team-icons-href:focus {
  background-color: #404bbf;
}

.team-svg-icons {
  fill: currentColor;
}

/*Portfolio section*/

.portfolio {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .portfolio {
    color: #2e2f42;
    line-height: 1.11em;
    padding: 120px 0;
  }
}

.portfolio h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 21px;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .portfolio-ul {
    row-gap: 72px;
    column-gap: 16px;
  }
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*portfolio shadow*/

.portfolio-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 32px;
  width: 100%;
  height: 100%;

  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: 250ms;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .overlay {
  transform: translateY(0);
}

.portfolio-h {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  color: #434455;
}

/*footer sections*/

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;

    gap: 72px 24px;

    padding: 0 108px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
    flex-wrap: nowrap;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}
.footer-div-one {
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .footer-div-one {
    margin-bottom: 74px;
  }
}

@media screen and (min-width: 768px) {
  .footer-div-one {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .footer-div-one {
    margin-right: 120px;
  }
}

.footer .studio-color {
  color: #f4f4fd;
}

.footer .web-color {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  width: 288px;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;

  text-align: left;
}

@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
}

/*footer icon*/

.footer-icons-p {
  text-align: center;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-icons-p {
    display: inline-block;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-div-link {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1156px) {
  .footer-div-link {
    margin-right: auto;
  }
}

.footer-icons-ul {
  display: flex;
  justify-content: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-icons-ul {
    display: flex;
    gap: 16px;
  }
}

@media screen and (min-width: 1156px) {
  .footer-icons-ul {
    display: flex;
    gap: 16px;
  }
}

.footer-li-icons {
  width: 40px;
  height: 40px;
}

.footer-icons-href {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(77, 90, 229, 1);
  color: rgba(244, 244, 253, 1);

  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-href:hover {
  background-color: #31d0aa;
}

.footer-icons-href:focus {
  background-color: #31d0aa;
}

.footer-svg-icons {
  fill: currentColor;
}

/*Footer Subscribe*/

.footer-sub-p {
  color: #fff;

  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-sub-p {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .form-sub {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.footer-label {
  display: block;
}

@media screen and (max-width: 767.98px) {
  .footer-label {
    margin-bottom: 16px;
  }
}

.footer-input {
  color: #ffffff;
  width: 288px;
  height: 40px;

  background-color: transparent;
  border-radius: 4px;

  padding: 8px 16px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 1158px) {
  .footer-input {
    color: #ffffff;
    width: 264px;
    margin: auto;
  }
}

.footer-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}

.footer-btn-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  border-radius: 4px;

  margin: 0 auto;

  background-color: #4d5ae5;
  color: white;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;

  cursor: pointer;

  border: none;
}

.footer-btn-sub:hover,
.footer-btn-sub:focus {
  background-color: #404bbf;
}

.footer-sub-svg {
  fill: currentColor;
  margin-left: 16px;
}

/*Modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

/*!!modal container!!*/

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 288px;
  min-height: 632px;
  transform: translate(-50%, -50%) scale(1);
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #fcfcfc;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 16px 24px;
}

@media only screen and (min-width: 768px) {
  .modal-container {
    min-width: 408px;
    min-height: 584px;
    padding-left: 23px;
    padding-right: 25px;
  }
}

@media only screen and (min-width: 1158px) {
  .modal-container {
    padding: 72px 24px 24px;
  }
}

/*top modal btn adn text*/
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  padding: 0;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-x {
  position: absolute;

  width: 8px;
  height: 8px;
  flex-shrink: 0;
  fill: rgba(46, 47, 66, 1);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:focus .modal-x {
  fill: white;
}

.modal-btn:hover .modal-x {
  fill: white;
}

.modal-text {
  color: #2e2f42;
  text-align: center;

  /* Body Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

/*modal form 3 think*/

.label-input_icons-div {
  position: relative;
}

.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.form-label {
  display: block;

  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 400;

  color: #8e8f99;

  margin-bottom: 4px;
}

.form-field {
  position: relative;
  margin-bottom: 8px;
}

.form-input {
  width: 360px;
  height: 40px;
  flex-shrink: 0;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;

  padding-left: 38px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .modal-svg-icon {
  fill: #4d5ae5;
}

.modal-svg-icon {
  position: absolute;

  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Text area*/

.form-label-area {
  display: block;

  font-size: 12px;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 400;

  color: #8e8f99;

  margin-bottom: 16px;
}

.form-text-area {
  width: 360px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;

  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);

  border-radius: 4px;
  background-color: transparent;

  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text-area:focus {
  border-color: #4d5ae5;
}

/*Checkbox*/

.form-checkbox-div {
  margin-bottom: 24px;
}

.form-checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label-checkbox {
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17em;
  letter-spacing: 0.04em;
}

.label-checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-right: 8px;
}

.privacy-link {
  color: #4d5ae5;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.form-checkbox-input:checked + .label-checkbox > .label-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: var(--checked-fill-color, #f4f4fd);
}

/*Send checkbox*/

.btn-checkbox {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;

  min-width: 169px;
  height: 56px;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;

  color: white;
  cursor: pointer;
  background-color: #4d5ae5;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-checkbox:focus,
.btn-checkbox:hover {
  background-color: #404bbf;
}
